# Build
build/
cmake-build-*/

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# Compiled
*.o
*.a
*.so
*.dylib
*.exe
oe_runner
dummy_runner

# macOS
.DS_Store

# CMake
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
